*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.8;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 750px;
    margin: 0 auto;
    padding: 50px 30px;
}

.page__header {
    margin-bottom: 30px;
}

.page__header .photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.page__header .photo img {
    width: 420px;
    margin-left: -51px;
}

.page__header .title {
    text-align: center;
    margin-top: 40px;
    line-height: 1.2;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

.title__occupation {
    font-size: 21px;
}

.page__body {
    margin-bottom: 50px;
}

.page__footer {
    text-align: center;
    font-weight: 500;
}

.navbar-brand img {
    width: 50px;
}
